<div class="table-users">

  <jw-modal id="person-add-modal">
    <form (ngSubmit)="postPerson()" [formGroup]="form">
      <h1>Input contact data</h1>
      <div class="form-control" style="display: none;" appearance="fill">
        <label>Project Id</label>
        <input formControlName="id"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Name</label>
        <input formControlName="name"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Created At</label>
        <input formControlName="createdAt"  type="date"/>
      </div>

      <button
        (click)="closeModal('person-edit-modal');"

        type="submit"
      >Add Project
      </button>
    </form>
  </jw-modal>

  <jw-modal id="person-edit-modal">
    <form (ngSubmit)="putPerson()" [formGroup]="putForm">
      <h1>Input contact data</h1>
      <div class="form-control" appearance="fill">
        <label>Project Id</label>
        <input formControlName="id"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Name</label>
        <input formControlName="name"  type="text"/>
      </div>

      <div class="form-control" appearance="fill">
        <label>Created At</label>
        <input formControlName="createdAt"  type="text"/>
      </div>

      <button
        (click)="closeModal('person-edit-modal');"
        type="submit"
      >Add
      </button>
    </form>
  </jw-modal>


  <table cellspacing="0" class="my-table">
    <tr>
      <!--      <th><a (click)="sortTable('name')">Name</a></th>-->
      <th>Id</th>
      <th>Name</th>
      <th>Created At</th>
      <th><a><i (click)="openModal('person-add-modal')" class="fa-solid fa-plus"></i></a></th>
      <th></th>
    </tr>

    <tr *ngFor="let team of _teams">
      <td>{{team.id}}</td>
      <td>{{team.name}}</td>
      <td>{{team.createdAt | ukrainianDate}}</td>
      <td (click)="openModal('person-edit-modal', team);"><a><i class="fa-solid fa-info"></i></a></td>
      <td (dblclick)="removePerson(team.id)"><a><i class="fa-solid fa-trash"></i></a></td>
    </tr>
  </table>

  <div class="footer">
    <span (click)="changePage(-1)"><</span>
    <span>{{_pageNumber}}</span>
    <span (click)="changePage(1)">></span>
  </div>
</div>
