<div class="table-users">

  <jw-modal id="person-add-modal">
    <form (ngSubmit)="postPerson()" [formGroup]="form">
      <h1>Input contact data</h1>
      <div class="form-control" style="display: none;" appearance="fill">
        <label>Id</label>
        <input formControlName="id"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Project Id</label>
        <input formControlName="projectId"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Performer Id</label>
        <input formControlName="performerId"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Name</label>
        <input formControlName="name"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Description</label>
        <input formControlName="description"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Created At</label>
        <input formControlName="createdAt"  type="date"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Finished At</label>
        <input formControlName="finishedAt"  type="date"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>State</label>
        <input formControlName="state"  type="number"/>
      </div>

      <button
        (click)="closeModal('person-edit-modal');"

        type="submit"
      >Add Project
      </button>
    </form>
  </jw-modal>

  <jw-modal id="person-edit-modal">
    <form (ngSubmit)="putPerson()" [formGroup]="putForm">
      <h1>Input contact data</h1>
      <div class="form-control"  appearance="fill">
        <label>Id</label>
        <input formControlName="id"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Project Id</label>
        <input formControlName="projectId"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Performer Id</label>
        <input formControlName="performerId"  type="number"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Name</label>
        <input formControlName="name"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Description</label>
        <input formControlName="description"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Created At</label>
        <input formControlName="createdAt"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>Finished At</label>
        <input formControlName="finishedAt"  type="text"/>
      </div>
      <div class="form-control" appearance="fill">
        <label>State</label>
        <input formControlName="state"  type="number"/>
      </div>

      <button
        (click)="closeModal('person-edit-modal');"
        type="submit"
      >Add
      </button>
    </form>
  </jw-modal>


  <table cellspacing="0" class="my-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Performer Id</th>
      <th>Project Id</th>
      <th>State</th>
      <th>Created At</th>
      <th>Finished Line</th>
      <th><a><i (click)="openModal('person-add-modal')" class="fa-solid fa-plus"></i></a></th>
      <th></th>
    </tr>

    <tr *ngFor="let project of _tasks">
      <td>{{project.name.length > 20 ? project.name.slice(0,20)+'...' : project.name}}</td>
      <td>{{project.description.length > 20 ? project.description.slice(0,20)+'...' : project.description}}</td>
      <td>{{project.performerId}}</td>
      <td>{{project.projectId}}</td>
      <td taskState [state]="project.state">{{project.state}}</td>
      <td>{{project.createdAt | ukrainianDate}}</td>
      <td>{{project.finishedAt | ukrainianDate}}</td>
      <td (click)="openModal('person-edit-modal', project);"><a><i class="fa-solid fa-info"></i></a></td>
      <td (dblclick)="removePerson(project.id)"><a><i class="fa-solid fa-trash"></i></a></td>
    </tr>
  </table>

  <div class="footer">
    <span (click)="changePage(-1)"><</span>
    <span>{{_pageNumber}}</span>
    <span (click)="changePage(1)">></span>
  </div>
</div>

<div class="info-box">
  <div class="box">
    <span class="square"></span>
    <p> - ToDo</p>
  </div>
  <div class="box">
    <span class="square"></span>
    <p> - InProgress</p>
  </div>
  <div class="box">
    <span class="square"></span>
    <p> - Done</p>
  </div>
  <div class="box">
    <span class="square"></span>
    <p> - Canceled</p>
  </div>
</div>
